// Grid system

.grid-container{
  lost-center: 100%;
}

.grid-item{
  text-overflow: ellipsis;
  overflow: hidden;
}

.grid-center{
  lost-align: center;
}

.site-container{
  position: relative;
  lost-center: 960px;
  margin: 0 auto;
}

.site-main{
  lost-center: 100%;
}

.content-area{
  background-color: yellow;
  padding: 0.5em;
}

.sidebar-container{
  background-color: greenyellow;
  padding: 0.5em;
}

/* ≥ 800px */
@media screen and (min-width: 50em) {
 .content-area{
    lost-column: 3/4;
  }

  .sidebar-container{
    lost-column: 1/4;
  } 
}