* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
* Responsive images
*
* Fluid images for posts, comments, and widgets
*/
.responsive,
.responsive img,
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}


html,
body{
  height: 100%;
}

body {
   margin: 0;
   padding: 0;
}

html {
  overflow-y: scroll;
}

a {
  outline: 0;
  text-decoration: none;
}

.assistive-text,
.screen-reader-text, 
.screen-reader-text span, 
.ui-helper-hidden-accessible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
